### 서울시 일인당 CCTV 댓수 구별 현황분석
* 구별 인구당 CCTV 댓수 현황파악
* 인구당 CCTV댓수와 관련이 높은 지표는

In [2]:
import pandas as pd
import numpy as np

In [3]:
cctv_seoul = pd.read_csv('./01. CCTV_in_Seoul.csv ')
cctv_seoul.head(3)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [8]:
pop_seoul = pd.read_excel('./01. population_in_Seoul.xls')
pop_seoul.head(5)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [9]:
# 서울시 구별 인구데이터

In [10]:
pop_seoul.head(10)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774

In [12]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB

In [13]:
# 1,3,6,9,13 열만 가져오기
# 행도 위에 두줄 날리고 가져오기

In [15]:
pop_seoul = pd.read_excel('./01. population_in_Seoul.xls', usecols = [1,3,6,9,13],
                         skiprows=2)
pop_seoul.head(5)

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [20]:
# 열이름 바꾸기
pop_seoul.rename(columns = {'자치구':'구별', '계':'인구수', '계.1':'한국인', '계.2':'외국인', '65세이상고령자':'고령자'}, inplace=True)

In [22]:
pop_seoul.head() # rename할 때 inplace=True 옵션을 줘야 원본을 바꿈 안 그러면 그냥 그렇게 출력만 해주고 끝

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [23]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      26 non-null     object
 1   인구수     26 non-null     float64
 2   한국인     26 non-null     float64
 3   외국인     26 non-null     float64
 4   고령자     26 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [24]:
pop_seoul.tail()

     구별       인구수       한국인     외국인      고령자
22  서초구  450310.0  445994.0  4316.0  51733.0
23  강남구  570500.0  565550.0  4950.0  63167.0
24  송파구  667483.0  660584.0  6899.0  72506.0
25  강동구  453233.0  449019.0  4214.0  54622.0
26  NaN       NaN       NaN     NaN      NaN

In [26]:
pop_seoul.drop(26, axis=0, inplace=True)

In [27]:
pop_seoul.tail()

     구별       인구수       한국인      외국인      고령자
21  관악구  525515.0  507203.0  18312.0  68082.0
22  서초구  450310.0  445994.0   4316.0  51733.0
23  강남구  570500.0  565550.0   4950.0  63167.0
24  송파구  667483.0  660584.0   6899.0  72506.0
25  강동구  453233.0  449019.0   4214.0  54622.0

In [34]:
# 구별 외국인 비율 상위 5개 구
(pop_seoul['외국인']/pop_seoul['인구수'])*100

0     2.653918
1     5.669451
2     6.700690
3     6.038828
4     2.526635
5     4.017852
6     4.172440
7     1.114829
8     2.490353
9     1.061806
10    0.578524
11    0.670725
12    0.899091
13    3.723221
14    2.844355
15    0.839413
16    1.080540
17    7.007998
18    7.342345
19    8.663598
20    2.924464
21    3.484582
22    0.958451
23    0.867660
24    1.033584
25    0.929765
dtype: float64

In [38]:
pop_seoul['외국인비율'] = (pop_seoul['외국인']/pop_seoul['인구수'])*100
pop_seoul.sort_values('외국인비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828

In [53]:
# 고령자 비율 상위 5개 구
pop_seoul['고령자비율'] = (pop_seoul['고령자']/pop_seoul['인구수'])*100
pop_seoul.sort_values('고령자비율', ascending=False)[:5]

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

In [40]:
### CCTV데이터 분석

In [42]:
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [43]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [44]:
cctv_seoul.rename(columns = {'기관명':'구별'}, inplace = True)

In [46]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [47]:
# CCTV가 가장 많은 구 상위 다섯

In [52]:
cctv_seoul.sort_values('소계',ascending=False)[:5]

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [62]:
# 2016년도 CCTV증가율이 가장 높은 구
cctv_seoul['2015년도 누적 cctv수'] = cctv_seoul[['2013년도 이전', '2014년', '2015년']].sum(axis=1)

In [63]:
cctv_seoul

      구별    소계  2013년도 이전  2014년  2015년  2016년  2015년도 누적 cctv수
0    강남구  2780       1292    430    584    932             2306
1    강동구   773        379     99    155    377              633
2    강북구   748        369    120    138    204              627
3    강서구   884        388    258    184     81              830
4    관악구  1496        846    260    390    613             1496
5    광진구   707        573     78     53    174              704
6    구로구  1561       1142    173    246    323             1561
7    금천구  1015        674     51    269    354              994
8    노원구  1265        542     57    451    516             1050
9    도봉구   485        238    159     42    386              439
10  동대문구  1294       1070     23    198    579             1291
11   동작구  1091        544    341    103    314              988
12   마포구   574        314    118    169    379              601
13  서대문구   962        844     50     68    292              962
14   서초구  1930       1406    157    336    398             1899
15   성동구  1062        730     91    241    265             1062
16   성북구  1464       1009     78    360    204             1447
17   송파구   618        529     21     68    463              618
18   양천구  2034       1843    142     30    467             2015
19  영등포구   904        495    214    195    373              904
20   용산구  1624       1368    218    112    398             1698
21   은평구  1873       1138    224    278    468             1640
22   종로구  1002        464    314    211    630              989
23    중구   671        413    190     72    348              675
24   중랑구   660        509    121    177    109              807

In [66]:
cctv_seoul['2016년 증가율'] = cctv_seoul['2016년']/cctv_seoul['2015년도 누적 cctv수']

In [67]:
cctv_seoul.sort_values('2016년 증가율', ascending=False)[:5]

     구별    소계  2013년도 이전  2014년  2015년  2016년  2015년도 누적 cctv수  2016년 증가율
9   도봉구   485        238    159     42    386              439   0.879271
17  송파구   618        529     21     68    463              618   0.749191
22  종로구  1002        464    314    211    630              989   0.637007
12  마포구   574        314    118    169    379              601   0.630616
1   강동구   773        379     99    155    377              633   0.595577

In [68]:
# 1인당 CCTV수(인당 cctv비율)가 가장 높은 상위 5개 구

In [78]:
pop_cctv = pd.merge(cctv_seoul, pop_seoul, on='구별', how='inner')
pop_cctv.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,2015년도 누적 cctv수,2016년 증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,2306,0.404163,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,633,0.595577,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,627,0.325359,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,830,0.097590,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,1496,0.409759,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [81]:
pop_cctv.drop(['2013년도 이전','2014년','2015년', '2016년', '2015년도 누적 cctv수', '2016년 증가율'], axis=1, inplace=True)

In [84]:
pop_cctv.head()

    구별    소계       인구수       한국인      외국인      고령자     외국인비율      고령자비율
0  강남구  2780  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
1  강동구   773  453233.0  449019.0   4214.0  54622.0  0.929765  12.051638
2  강북구   748  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
3  강서구   884  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
4  관악구  1496  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [73]:
(pop_cctv['소계']/pop_cctv['인구수'])*100

0          NaN
1     0.615404
2     0.503603
3     0.665020
4     0.341211
5     0.189970
6     0.350207
7     0.159227
8     0.317391
9     0.226535
10    0.139110
11    0.222170
12    0.378852
13    0.294043
14    0.147312
15    0.423769
16    0.146413
17    0.348536
18    0.397911
19    0.224326
20    0.264472
21    0.284673
22    0.428594
23    0.487292
24    0.092587
25    0.170552
dtype: float64

In [85]:
pop_cctv['인당 cctv수'] = pop_cctv['소계']/pop_cctv['인구수']

In [86]:
pop_cctv.sort_values('인당 cctv수', ascending=False)[:5]

,구별,소계,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
20,용산구,1624,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427,0.006650
22,종로구,1002,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404,0.006154
23,중구,671,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909,0.005036
0,강남구,2780,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.004873
14,서초구,1930,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308,0.004286

In [87]:
# 1인당 cctv에 가장 큰 영향을 미치는 요인
pop_cctv.corr() # 상관계수 계산

,소계,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
소계,1.000000,0.306342,0.304287,-0.023786,0.255196,-0.136074,-0.280786,0.575784
인구수,0.306342,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462,-0.514143
한국인,0.304287,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812,-0.513169
외국인,-0.023786,-0.153371,-0.214576,1.000000,-0.155381,0.838904,-0.014055,0.079211
고령자,0.255196,0.932667,0.931636,-0.155381,1.000000,-0.606088,-0.380468,-0.541024
외국인비율,-0.136074,-0.591939,-0.637911,0.838904,-0.606088,1.000000,0.267348,0.406199
고령자비율,-0.280786,-0.669462,-0.660812,-0.014055,-0.380468,0.267348,1.000000,0.290528
인당 cctv수,0.575784,-0.514143,-0.513169,0.079211,-0.541024,0.406199,0.290528,1.000000

In [88]:
pop_cctv.drop('소계', axis=1).corr()

               인구수       한국인       외국인       고령자     외국인비율     고령자비율  인당 cctv수
인구수       1.000000  0.998061 -0.153371  0.932667 -0.591939 -0.669462 -0.514143
한국인       0.998061  1.000000 -0.214576  0.931636 -0.637911 -0.660812 -0.513169
외국인      -0.153371 -0.214576  1.000000 -0.155381  0.838904 -0.014055  0.079211
고령자       0.932667  0.931636 -0.155381  1.000000 -0.606088 -0.380468 -0.541024
외국인비율    -0.591939 -0.637911  0.838904 -0.606088  1.000000  0.267348  0.406199
고령자비율    -0.669462 -0.660812 -0.014055 -0.380468  0.267348  1.000000  0.290528
인당 cctv수 -0.514143 -0.513169  0.079211 -0.541024  0.406199  0.290528  1.000000